:root {
  --METALLIC-GREEN: #396C03;
  --AMERICAN-ORANGE: #FF8B00;
  --GRANITE-GRAY: #676767;
  --BLACK-OLIVE: #3F3F3F;
  --CHINESE-SILVER: #C7C7C7;
  --QUICK-SILVER: #9F9F9F;
  --SILVER-SAND: #C4C4C4;
  --ISABELLINE: #F0F4EC;
  --FLORAL-WHITE: #FFF9F2;
  --WHITE: #FFFFFF;
  --BLACK: #000000;
  --first-family: "Poppins", sans-serif;
  --second-family: "Merienda", cursive;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Merienda";
  src: url("../fonts/Merienda/Merienda-Bold.woff2") format("woff2"), url("../fonts/Merienda/Merienda-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.header {
  border-bottom: 1px solid var(--CHINESE-SILVER);
  background-color: rgba(57, 108, 3, 0.1);
  padding: 18px 0;
}

.header-row {
  height: 65px;
  align-items: center;
}

.logo {
  max-width: 147px;
  height: 50px;
  outline-color: var(--AMERICAN-ORANGE);
}

.logo img {
  width: 100%;
  height: 100%;
}

.menu {
  margin-left: auto;
}

.nav {
  align-items: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
}

.nav-link {
  font-weight: 500;
  line-height: 36px;
  color: var(--BLACK-OLIVE);
  outline-color: var(--AMERICAN-ORANGE);
  transition: ease-in-out 0.2s;
}
.nav-link:hover {
  color: var(--METALLIC-GREEN);
}

.nav-link-lang {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.nav-link-lang path {
  transition: ease-in-out 0.3s;
}
.nav-link-lang:hover path {
  fill: var(--METALLIC-GREEN);
}

.action {
  width: 242px;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  margin-left: 100px;
}

.action-login-btn {
  font-weight: 500;
  font-size: 20px;
  color: var(--WHITE);
  outline-color: var(--AMERICAN-ORANGE);
  transition: ease-in-out 0.2s;
}
.action-login-btn:hover {
  background-color: #2f5a00;
}

.action-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--METALLIC-GREEN);
  border-radius: 50px;
  outline-color: var(--AMERICAN-ORANGE);
  transition: ease-in-out 0.2s;
}
.action-card:hover {
  background-color: #2f5a00;
}

.action-card img {
  width: 28px;
  height: 30px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--first-family);
  font-size: 18px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper-row {
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 154px;
  width: 100%;
  height: 58px;
  background-color: var(--METALLIC-GREEN);
  border-radius: 225px;
}/*# sourceMappingURL=style.css.map */