:root {
  --METALLIC-GREEN: #396C03;
  --AMERICAN-ORANGE: #FF8B00;
  --GRANITE-GRAY: #676767;
  --BLACK-OLIVE: #3F3F3F;
  --CHINESE-SILVER: #C7C7C7;
  --QUICK-SILVER: #9F9F9F;
  --SILVER-SAND: #C4C4C4;
  --ISABELLINE: #F0F4EC;
  --FLORAL-WHITE: #FFF9F2;
  --OLD-SILVER: #838383;
  --WHITE: #FFFFFF;
  --BLACK: #000000;
  --CULTURED: #F5F8F2;
  --BRIGHT-GRAY: #EDEDED;
  --first-family: "Poppins", sans-serif;
  --second-family: "Merienda", cursive;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Merienda";
  src: url("../fonts/Merienda/Merienda-Bold.woff2") format("woff2"), url("../fonts/Merienda/Merienda-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.header {
  border-bottom: 1px solid var(--CHINESE-SILVER);
  background-color: rgba(57, 108, 3, 0.1);
  padding: 18px 0;
}

.header-row {
  height: 65px;
  align-items: center;
}

.logo {
  max-width: 147px;
  height: 50px;
  outline-color: var(--AMERICAN-ORANGE);
}

.logo img {
  width: 100%;
  height: 100%;
}

.menu {
  margin-left: auto;
}

.nav {
  align-items: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
}

.nav-link {
  font-weight: 500;
  line-height: 36px;
  color: var(--BLACK-OLIVE);
  outline-color: var(--AMERICAN-ORANGE);
  transition: ease-in-out 0.2s;
}
.nav-link:hover {
  color: var(--METALLIC-GREEN);
}

.nav-link-lang {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.nav-link-lang path {
  transition: ease-in-out 0.3s;
}
.nav-link-lang:hover path {
  fill: var(--METALLIC-GREEN);
}

.action {
  width: 242px;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  margin-left: 100px;
}

.action-login-btn {
  font-weight: 500;
  font-size: 20px;
  color: var(--WHITE);
  outline-color: var(--AMERICAN-ORANGE);
  transition: ease-in-out 0.2s;
}
.action-login-btn:hover {
  background-color: #2f5a00;
}

.action-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--METALLIC-GREEN);
  border-radius: 50px;
  outline-color: var(--AMERICAN-ORANGE);
  transition: ease-in-out 0.2s;
}
.action-card:hover {
  background-color: #2f5a00;
}

.action-card img {
  width: 28px;
  height: 30px;
}

.hero {
  background-color: rgba(57, 108, 3, 0.1);
  min-height: 756px;
  overflow: hidden;
}

.hero-row {
  position: relative;
}

.hero-content {
  max-width: 714px;
  width: 100%;
  padding: 208px 0 139px;
}

.hero-content-title {
  max-width: 681px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 65px;
  line-height: 84.5px;
  color: var(--METALLIC-GREEN);
  margin-bottom: 27px;
}
.hero-content-title span {
  color: var(--AMERICAN-ORANGE);
}

.hero-content-desc {
  font-weight: 600;
  font-size: 24px;
  line-height: 33.6px;
  color: var(--GRANITE-GRAY);
  margin-bottom: 27px;
}

.hero-content-search {
  max-width: 714px;
  height: 69px;
  border: 1px solid rgba(57, 108, 3, 0.3);
  border-radius: 120px;
  position: relative;
  overflow: hidden;
}

.hero-content-search-img {
  position: absolute;
  top: 50%;
  left: 9px;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50px;
  transform: translateY(-50%);
  z-index: 3;
  background-color: var(--AMERICAN-ORANGE);
}

.hero-content-search-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 37.4px;
  padding: 0 230px 0 65px;
  z-index: 1;
  outline-color: var(--AMERICAN-ORANGE);
  border: none;
  border-radius: 120px;
  color: var(--BLACK-OLIVE);
}
.hero-content-search-input::-moz-placeholder {
  color: var(--CHINESE-SILVER);
}
.hero-content-search-input::placeholder {
  color: var(--CHINESE-SILVER);
}

.hero-content-search-btn.btn {
  max-width: 210px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  font-family: var(--first-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 37.4px;
  z-index: 2;
  border: none;
  color: var(--WHITE);
  background-color: var(--METALLIC-GREEN);
  cursor: pointer;
  transition: ease-in-out 0.2s;
  outline-color: var(--AMERICAN-ORANGE);
  padding-left: 32px;
}
.hero-content-search-btn.btn:hover {
  background-color: #2f5a00;
}

.hero-content-search-btn.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  background-image: url("../img/hero/search.svg");
}

.hero-img {
  flex-grow: 1;
  position: relative;
}

.hero-img-food {
  position: absolute;
  top: 152px;
  max-width: 534px;
  height: 528px;
}

.hero-img-num-delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 245px;
  width: 100%;
  height: 118px;
  position: absolute;
  top: 84px;
  left: 211px;
  z-index: 1;
}

.hero-img-num-delivery-inner {
  width: 245px;
  height: 118px;
  position: relative;
  border-radius: 9px;
  overflow: hidden;
}

.hero-img-num-delivery-inner::before {
  content: "";
  width: 245px;
  height: 118px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.6);
}

.hero-img-num-delivery-inner img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  left: 32px;
}

.hero-img-num-delivery span {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--AMERICAN-ORANGE);
  position: absolute;
  top: 18px;
  left: 85px;
}

.hero-img-num-delivery p {
  font-weight: 600;
  font-size: 21px;
  line-height: 27.3px;
  color: var(--OLD-SILVER);
  position: absolute;
  left: 28px;
  bottom: 18px;
}

.hero-list {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.hero-list-first {
  width: 288px;
  height: 288px;
  position: absolute;
  top: 30px;
  left: -190px;
}

.hero-list-second {
  width: 288px;
  height: 288px;
  position: absolute;
  top: 80px;
  left: 1020px;
}

.blog {
  background-color: rgba(255, 139, 0, 0.05);
  position: relative;
  margin: auto 0;
}

.blog-row {
  align-items: center;
  min-height: 600px;
  padding: 50px 0;
}

.blog-content {
  max-width: 567px;
}

.blog-content-title {
  max-width: 527px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  color: var(--METALLIC-GREEN);
  margin-bottom: 10px;
}

.blog-content-desc {
  font-weight: 400;
  line-height: 28.8px;
  color: var(---GRANITE-GRAY);
  margin-bottom: 14px;
}

.blog-content-btn.btn {
  max-width: 231px;
  width: 100%;
  height: 67px;
  font-weight: 500;
  line-height: 37.4px;
  padding-right: 40px;
  position: relative;
  color: var(--WHITE);
  transition: ease-in-out 0.2s;
  outline-color: var(--AMERICAN-ORANGE);
}
.blog-content-btn.btn:hover {
  background-color: #2f5a00;
}

.blog-content-btn::after {
  content: "";
  width: 16px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 70px;
  background-image: url("../img/blog/arrow.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.blog-img {
  position: absolute;
  top: 60px;
  right: 12px;
  max-width: 751px;
  width: 100%;
  height: 500px;
}

.blog-img-provider {
  height: 420px;
  position: absolute;
  left: 100px;
  top: 35px;
}

.blog-img-bg {
  width: 100%;
}

.advantage {
  padding: 105px 0;
}

.advantage-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
}

.advantage-cards-item {
  max-width: 394px;
  min-height: 388px;
  padding: 60px 47px 38px 54px;
  border-radius: 15px;
  transition: all 0.2s;
}
.advantage-cards-item:hover {
  background-color: var(--CULTURED);
}

.advantage-cards-item img {
  height: 90px;
  margin-bottom: 22px;
}

.advantage-cards-item h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 42px;
  color: var(--BLACK-OLIVE);
  margin-bottom: 7px;
}

.advantage-cards-item p {
  font-weight: 400;
  line-height: 28.8px;
  color: var(--GRANITE-GRAY);
}

.advantage-img {
  position: relative;
  min-height: 827px;
}

.advantage-img img {
  width: 100%;
  max-height: 827px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.advantage-img-content {
  max-width: 630px;
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.advantage-img-content-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--WHITE);
  margin-bottom: 19px;
}

.advantage-img-content-desc {
  font-weight: 600;
  font-size: 24px;
  line-height: 33.6px;
  color: var(--BRIGHT-GRAY);
  margin-bottom: 15px;
}

.advantage-content-img-btn.btn {
  max-width: 276px;
  font-weight: 500;
  font-size: 22px;
  line-height: 37.4px;
  background-color: var(--AMERICAN-ORANGE);
  color: var(--WHITE);
  margin: 0 auto;
  transition: ease-in-out 0.2s;
  position: relative;
}
.advantage-content-img-btn.btn:hover {
  opacity: 0.9;
}

.advantage-content-img-btn::after {
  content: "";
  width: 16px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--first-family);
  font-size: 18px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper-row {
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 154px;
  width: 100%;
  height: 58px;
  background-color: var(--METALLIC-GREEN);
  border-radius: 225px;
}/*# sourceMappingURL=style.css.map */