.faq {
    padding: 105px 0;
}
.faq-row {
}
.faq-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
}
.faq-content-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;
    color: var(--BLACK-OLIVE);
    margin-bottom: 32px;
}
.faq-btns {
    display: flex;
    justify-content: space-between;
    max-width: 483px;
    width: 100%;
}
.faq-btns a {
    font-weight: 500;
    font-size: 22px;
    line-height: 37.4px;
    color: var(--WHITE);
    transition: ease-in-out .2s;
}
.faq-content-general-btn.btn {
    max-width: 208px;

    &:hover {
        background-color: #2f5a00;
    }
}
.faq-content-business-btn.btn {
    max-width: 258px;
    background-color: var(--WHITE);
    color: var(--METALLIC-GREEN);
    border: 1px solid var(--METALLIC-GREEN);

    &:hover {
        background-color: var(--METALLIC-GREEN);
        color: var(--WHITE);
    }
}
.faq-blog {
}
.faq-question-btn {
}
.faq-answer {
}