@import './vars';
@import './header';
@import './hero';
@import './blog';
@import './advantage';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--first-family);
    font-size: 18px;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.wrapper-row {
    width: 100%;
    height: 100vh;
}
.container {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
a {
    text-decoration: none;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 154px;
    width: 100%;
    height: 58px;
    background-color: var(--METALLIC-GREEN);
    border-radius: 225px;
}